/*====================FONT IMPORT======================*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Rubik');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

/*====================ELEMENT SELECTORS======================*/
* {margin:0;padding:0;box-sizing:border-box;}
body{
	/*background: url("images/bg-hero800w.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #f2f2f2;
	color: #000;
	font-family: 'IBM Plex Serif', Georgia, serif;
	font-size: 18px;
	line-height: 1.25;
}

h1{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 6px: 
}
h2{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-weight: 200;
}
h3{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-weight: 600;
	font-size:24px;
}
h4{
	font-size: 24px;
}

img{

}
hr{
	width: 300px;
	border: 0;
    height: 3px;
    background: #000;
}
header{
	text-align: center;
}
nav{
	float: none;
}
aside{
	background-color: #FFC675;
	border: 1px solid black;
	padding: 20px;	
}
article{
	background-color: #E89C6C;
	border: 1px solid black;
	padding: 20px;	
}
div section{
	

	padding: 20px;
}
nav{
	padding:20px;
	width: 100%;
	float: left;
}
nav a{
	font-family: 'Rubik', Helvetica, tahoma, san-serif !important;
	font-size: 24px !important;
	font-style: bold !important;
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 1em;
}
nav a:hover{
	text-decoration: underline;
}
footer{
	
	border-top: 4px solid black;
	padding: 20px;	
	text-align: center;
}
footer a{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-style: bold;
	text-decoration: none;
	color: black;
}
footer a:hover{
	text-decoration: underline;
}
/*====================CLASSES======================*/
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.wrapper{
	width: 1024px;
	border: 1px black solid;
	margin: auto;
}
/*====================IDs======================*/
#slogan{
	font-family: Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-style: italic;
}
#hero{
	max-width: 1024px;
	height: auto;
}
#guide{
	width: 50%;
}

#two{
	padding: 20px;
	text-align: center;
}
#two ul{
	list-style: none;
}
#two_column{padding: 4em 0;}
#left {
	padding: 4em;
	float: left;
	width: 50%;
}
#right {
	
	
	padding: 20px;
	float: right;
	width: 45%;
}
#intro {
	background:url(images/bg-hero800w.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 100vh;
	padding: 15em 0 0 5em;
	color: rgba(0,0,0,.85);
}
