body{
	/*background: url("images/bg-hero800w.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #f2f2f2;
	text-align: center;
	color: #000;
	
	}
h1{
	font-family: Helvetica, tahoma, san-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;
}
h3{
	font-family: Helvetica, tahoma, san-serif;
}
p{
	font-family: Helvetica, tahoma, san-serif;
	font-size: 14px;
}
ul{
	font-family: Helvetica, tahoma, san-serif;
	font-size: 14px;
	text-align: center;
    list-style-type: none;
}
li{
	font-family: Helvetica, tahoma, san-serif;
	font-size: 14x;
}
img{

}
#slogan{
	font-family: Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-style: italic;
}
#hero{
	max-width: 600px;
	height: auto;
}
hr{
	width: 300px;
	border: 0;
    height: 3px;
    background: #000;
}
