/*====================FONT IMPORT======================*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Rubik');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

/*====================ELEMENT SELECTORS======================*/
body{
	/*background: url("images/bg-hero800w.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #f2f2f2;
	text-align: center;
	color: #000;
	}

h1{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 6px: 
}
h2{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-weight: 200;
}
h3{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-weight: 600;
	font-size:24px;
}
h4{
	font-family: 'IBM Plex Serif', Georgia, serif;
	font-size: 24px;
}
p{
	font-family: 'IBM Plex Serif', Georgia, serif;
	font-size: 18px;
	margin: 30px;
	line-height: 1.25em;
}
ul{
	font-family: 'IBM Plex Serif', Georgia, serif;
	font-size: 18px;
	text-align: center;
    list-style-type: none;
}
li{
	font-family: 'IBM Plex Serif', Georgia, serif;
	font-size: 18x;
}
img{

}
hr{
	width: 300px;
	border: 0;
    height: 3px;
    background: #000;
}
header{
	background-color: #ffed74;
	border: 1px solid black;
	padding: 20px;
}
nav{
	background-color: #E8C66A;
	border: 1px solid black;
	padding: 20px;
}
aside{
	background-color: #FFC675;
	border: 1px solid black;
	padding: 20px;	
}
article{
	background-color: #E89C6C;
	border: 1px solid black;
	padding: 20px;	
}
footer{
	background-color: #FF957E;
	border: 1px solid black;
	padding: 20px;	
}
div section{
	background-color: #FFE2B8;
	border: 1px solid black;
	padding: 20px;
}
/*====================CLASSES======================*/
.nav li{
	font-family: 'Rubik', Helvetica, tahoma, san-serif !important;
	font-size: 24px !important;
	font-style: bold !important;
}
/*====================IDs======================*/
#slogan{
	font-family: 'Rubik', Helvetica, tahoma, san-serif;
	font-size: 24px;
	font-style: italic;
}
#hero{
	max-width: 600px;
	height: auto;
}
#guide{
	max-width: 400px;
	height: auto;
}

